[submodule "ext/http"]
	path = ext/http
	url = https://github.com/dylan-lang/http.git
[submodule "ext/cli"]
	path = ext/command-interface
	url = https://github.com/dylan-lang/command-interface.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/dylan-lang/json.git
[submodule "ext/serialization"]
	path = ext/serialization
	url = https://github.com/dylan-foundry/serialization.git
